---
import Card from '../components/Card.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";

---
<BaseLayout pageTitle={pageTitle}>
  <div class="layout">
    <aside class="sidebar left">
      <Card title="About Me">
        <p>My name is {identity.firstName}.</p>
        <p>I live in {identity.country}.</p>
        <p>I work as a {identity.occupation}.</p>
        <p>My hobbies include:</p>
        <ul>
          {identity.hobbies.map(hobby => (
            <li>{hobby}</li>
          ))}
        </ul>
      </Card>
      <Card title="Tech stack" style={`color: ${skillColor};`}>
        <ul>
          {skills.map(skill => (
            <li>{skill}</li>
          ))}
        </ul>
      </Card>
    </aside>

    <aside class="sidebar right">
      <Card title="Personal Info">
        {happy && <p>I am happy to be learning Astro!</p>}
        {finished && <p>I finished this tutorial!</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
      </Card>
    </aside>
  </div>
</BaseLayout>